

.container {
  width: 450px;
  height: 485px;
  margin-top: 100px;
  border-style:transparent;
  border-color: honeydew;
  border-radius: 20px;
  
}

.register-title{
  text-align: center;
}
.register-label{
  font-size: 25px;
  padding-bottom: 30px;
}
.alert {
  padding: 20px;
  color: rgb(15, 252, 7);
  text-align: center;
}

.alertBad{
  padding: 20px;
  color: red;
  text-align: center;
}
